.jumbotron{
    width: calc(100% - 300px);
    display: block;
    margin: 0 auto;
    justify-content: center;
}
.dropdown-buttons{
    margin: 15px 0;
    padding: 0;
}

.add-btn-div{
    margin-right: 30px;
    width: 100%;
    height: 40px;

}
.add-btn{
    width: 150px;
    float: right;
    height: 40px;
}
.center-line{
    border: 1px solid #fff;
}
.icon{
    cursor: pointer;
}

.fiter-container{
    display: flex;
    justify-content: right;
    float: right;
    margin: 8px 0;
}
.fiter-container-input{
    margin: 0 10px;

}